<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="common :: head">
</head>

<body>
  <div th:replace="common :: header"></div>
    <p>カート一覧ページ</p>
    <div th:unless="${#strings.isEmpty(complete)}" >
      <div th:text="${complete}" class="alert alert-success" role="alert"></div>
    </div>
    <div id="carts"></div>
    <div id="totalPrice"></div>
  <script type="text/template" id="cart-template">
  <div class="modal cart-modal">
    <div class="modal_bg"></div>
    <div class="cart_details">
      <!-- <div id="pleaseLogin" class="alert alert-success" role="alert" style="display:none"></div> -->
      <% if(image != null){ %>
        <img src="../../images/<%- image %>" class="productImage">
      <% } else{ %>
        <img src="../../images/no_image.png" class="productImage">
      <% }%>
      <br>
      <%- name %>
      <%- price %>
      <%- unit %>
      <br>
      <%- description %>
      <br>
      <a class="modal-close" href="">閉じる</a>
    </div>
  </div>
  <% if(image != null){ %>
    <img src="../../images/<%- image %>" class="cartInProductImage">
  <% } else{ %>
    <img src="../../images/no_image.png" class="cartInProductImage">
  <% }%>
  <%- name %>
  <%- price %>
  <%- unit %>
  <input id="count" type="number" min="1" value="<%- cartNum %>">
  <a class="cart_change" href="">数量を変更</a>
  <a class="cart_delete" href="">削除する</a>
  </script>
  <script type="text/template" id="price-template">
    <% if(totalPrice != null){ %>
      <a>合計金額: </a><%- totalPrice %>
      <!-- <button type="button" class="btn-dark rounded-pill" id="order">購入する</button> -->
    <% } else { %>
      <a>商品がありません</a>
    <% }%>
  </script>
  <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
  <script src="https://underscorejs.org/underscore.js"></script>
  <script src="https://backbonejs.org/backbone.js"></script>
  <script src="/js/cart.js" th:src="@{/js/cart.js}"></script>
</body>

</html>